<div class="row" style="width:100%">
  <div style="width:100%">
    <%= form_for(@leave_request) do |f| %>
      <%= render 'form_basic_user_info' %>
      <table style="width:100%" border="10" bordercolor="brown">
        <tr>
          <td colspan="2" class="sub_header">Leaving Request Details</td>
        </tr>
        <tr>
          <td class="row_leave_left">Reason    :</td>
          <td>
            <%= f.select :leave_type_id, options_from_collection_for_select(@leave_types, 'id', 'name', nil),
             {:include_blank => true}, {:style => "width:30%"} %>
          </td>
        </tr>
         <tr rowspan="2">
          <td class="row_leave_left">Reason text    :<br/>(send to your manager)</td>
          <td>
            <%= f.text_area :comment, :style => "width:60%;height:300px;" %>
          </td>
        </tr>
         <tr>
          <td class="row_leave_left">Leave from    :</td>
          <td>
             <%= f.datetime_select :leave_from, {:style => "width:30px"} %>
          </td>
        </tr>
        <tr>
          <td class="row_leave_left">Leave to    :</td>
          <td>
            <%= f.datetime_select :leave_to %>
          </td>
        </tr>
        <tr>
          <td class="row_leave_left">Leave days   :</td>
          <td>
            asdfsdf
          </td>
        </tr>
        <tr>
          <td colspan="2" class="sub_header">Leave Control</td>
        </tr>
        <tr>
          <td class="row_leave_left">Select your managers    :</td>
          <td>
            <%= f.select :user_approve_id, options_from_collection_for_select(@managers, 'id', 'full_name',nil),
            { :include_blank => true }, {:style => "width:30%"} %>
          </td>
        </tr>
      </table>
        <tr>
          <td colspan="2" class="sub_header" style="align:center;text-align: center;">
            <%= f.submit "submit", class: "btn btn-large btn-primary"%>
          </td>
        </tr>
    <% end %>
  </div>
</div>
