<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :day_of_birth %><br />
    <%= f.datetime_select :day_of_birth %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :user_rold_id %><br />
    <%= f.number_field :user_rold_id %>
  </div>
  <div class="field">
    <%= f.label :position_type_id %><br />
    <%= f.number_field :position_type_id %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :start_work_day %><br />
    <%= f.datetime_select :start_work_day %>
  </div>
  <div class="field">
    <%= f.label :sex_id %><br />
    <%= f.number_field :sex_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :remember_token %><br />
    <%= f.text_field :remember_token %>
  </div>
  <div class="field">
    <%= f.label :identifier_url %><br />
    <%= f.text_field :identifier_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
