<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Day of birth</th>
    <th>Balance</th>
    <th>User rold</th>
    <th>Position type</th>
    <th>Admin</th>
    <th>Start work day</th>
    <th>Sex</th>
    <th>Email</th>
    <th>Remember token</th>
    <th>Identifier url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.day_of_birth %></td>
    <td><%= user.balance %></td>
    <td><%= user.user_rold_id %></td>
    <td><%= user.position_type_id %></td>
    <td><%= user.admin %></td>
    <td><%= user.start_work_day %></td>
    <td><%= user.sex_id %></td>
    <td><%= user.email %></td>
    <td><%= user.remember_token %></td>
    <td><%= user.identifier_url %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
