<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @leave_type.name %>
</p>

<p>
  <b>Value:</b>
  <%= @leave_type.value %>
</p>


<%= link_to 'Edit', edit_leave_type_path(@leave_type) %> |
<%= link_to 'Back', leave_types_path %>
